.main {
	background-color: #003369;
	height: 90px;
	width: 100%;
}

.bg {
	text-align: end;
	width: 18%;
	float: left;
}

.title {
	color: #fff;
	text-align: center;
	width: 80%;
	float: left;
	font-size: 30px;
	font-weight: 900;
	margin-top: 25px !important;
}

.submit-btn {
	width: 100px !important;
	margin-right: 30px !important;
	margin-top: 25px !important;
}

.footer {
	background-color: #003369;
	text-align: center;
	line-height: 50px;
	color: #fff;
}
